.upper_banner{
    margin: 0 auto;
    width: 100%;
}
body{
    display: grid;
    margin: 0;
}
.lower{
    text-align: center;
    background-color: gray;
    margin: 0;
    padding: 2% 0;
}
.lower img{
    border-radius: 50%;
    border: 15px solid rgb(68, 68, 68);
    width: 16%;
    margin: 0 auto;

}

#middle{
    margin: 0 8% auto;
}

