#headingimg{
    width: 100%;
}
.article{
    text-align: center;
}
#content{
    width: 250px;
    margin: 0 auto;
    background-color: bisque;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.upper{
    grid-row: 1/2;
    font-size: x-large;
    justify-content: center;
    align-content: center;
}
.lower{
    justify-content: center;
    align-items: center;
}